<!DOCTYPE html>
<html>
	<head>
		<title>MAWILE</title>
	</head>
	<body>
		<form action="/indexing" method="post">
			<label>Document location</label>
			<input type="text" name="documentLocation" placeholder="File URL">
			</br>
			<label>Stopword location</label>
			<input type="text" name="stopwordLocation" placeholder="File URL">
			</br>
			<button type="submit">Indexing</button>
		</form>
	</body>
</html>