<!DOCTYPE html>
<html lang="en">
	<!-- CSS -->
	<link href="../assets/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/main.css" rel="stylesheet">

	<!-- Script -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/bootstrap-3.3.5-dist/js/bootstrap.js"></script>

	<head>
		<title>MAWILE</title>
	</head>
	
	<body>
		<div class="container">
			<!-- Header untuk menu responsive -->
			<div id="header1">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<!-- Jumlah garis -->
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<img src="../assets/img/Mega-Mawile.png" class="img-responsive" alt="Responsive image" width="50px" height="50px">
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/home">Home</a></li>
								<li><a href="/experimental">Experimental</a></li>
								<li><a href="/interactive">Interactive</a></li>
								<li><a href="/help">Help</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
			
			<!-- Header untuk judul -->
			<div id="header2">
				<br><h3 class="text-center">Hasil Interactive<h3>
			</div>
			
			<form action="/runin2" method="post">
				<table class="table table-bordered table-striped table-hover table-condensed table-responsive table-text-center">	
					<tr>
						<th>No</th>
						<th>Document</th>
						<th>Relevant?</th>
					</tr>	
						
					<% for(var i = 0; i < result.length; i++) { %>
						<tr>
							<td><%= i + 1 %></td>
							<td>
								<h4><%= result[i].title %></h4>
								<%= result[i].words %>
							</td>
							<td>
								<input type="checkbox" name="relevant" value="<%= result[i].nodoc %>">
							</td>
						</tr>
					<% } %>
				</table>
				<div class="form-group">
					<button type="submit" class="btn btn-default" onclick="return confirm('Apakah Anda yakin?');">Submit</button>
				</div>
			</form>
		</br>
		</br>
		</br>
	</body>
</html>