#header2{
	margin-top: -50px;
}

.form-horizontal . form-group-no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.table-text-center th, .table-text-center td {
	text-align: center;
}

#toggle-hidden-Top-S {
	display: block;
}

#toggle-hidden-Top-N {
	display: none;
}